<!DOCTYPE html>
<html>
<head>
<title>SIPAE Web Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="public/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href="public/css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<h1>THIS site should be the principal main page, site in development...
<br>Take a look of a simplify version at </h1>
<a href="/index" role="button" class="btn btn-primary">I WANT TO SEE !</a>


<!--   HEADER -->
<!-- <div ui-view="header"></div> -->
<!-- ./HEADER -->

<!--   contenido -->
<!-- <div ui-view="container"></div> -->
<!-- ./contenido -->

<!--   FOOTER -->
<!-- <div ui-view="footer"></div> -->
<!-- ./FOOTER -->
</body>
</html>