<!DOCTYPE html>
<html>
<head>
<title>SIPAE Web Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="/index">SIPAE</a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
            <ul class="dropdown-menu">
              <li><a href="/index"> THIS DOESNT WORK </a></li>
              <li><a href="index_fixed.html">Home</a></li>
              <li><a href="service.html">Web Store</a></li>
              <li><a href="faq.html">FAQ</a></li>
            </ul>
          </li>
          <li class="active"><a href="/cursos">SIPAE</a></li>
          <li><a href="/micuenta">Rolando </a></li>
          <li><a href="/index">Log Out</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>
<section class="main__middle__container">
  <div class="container">
    <div class="row nothing">
      <section class="col-md-8 main-content pull-right">
        <h2>Mis Cursos</h2>
        <ul>
          <li><h3><a href="/asignatura"> FIS 120 </a></h3></li>
          <li><h3><a href="#"> FISW </a></h3></li>
        </ul>        
      </section>
      <aside class="col-md-4 pull-left">
        <h3><span>Navegacion</span></h3>
        <ul>
          <li><a href="#">Inscribir Asignaturas</a></li>
          <li><a href="#">Ver Profesores</a></li>
          <li><a href="#">Administrar Assignaturas</a></li>
          <li><a href="#">Nullam malesuada erat ut turpis.</a></li>
          <li><a href="#">Suspendisse urna nibh, viverra non</a></li>
        </ul>
      </aside>
    </div>
  </div>
  </div>
</section>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>About</h3>
        <p>SIPAE Lorem Lipsum blabla Super Kawai</p>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">
      
      </div>
      <div class="col-md-3">
        <h3>Social</h3>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright rCasanueva Company. All Rights Reserved.</p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>